*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: Arial, sans-serif, system-ui, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 2560px;
    min-height: 100vh;
    min-height: 100svh;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0px 2px 5px black;
    background-color: white;
}

img {
    height: 4rem;
}

main {
    flex: 1;
    padding: 0rem 2rem 2rem;
    margin: auto;
}

h2 {
    margin: 2rem 0rem 1rem;
    border-bottom: 3px solid black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

li {
    text-decoration: none;
    width: 25%;
}

li:nth-child(3) {
    width: 10%;
}

li:nth-child(4) {
    width: fit-content;
}

label {
    font-size: 1.3rem;
    display: block;
    margin-bottom: .25rem;
}

input {
    border: none;
    outline: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: .5rem;
    border: 2px solid black;
}

input:focus,
select:focus {
    border: 2px solid blue;
}

select {
    border: none;
    outline: none;
    display: block;
    margin-bottom: 1rem;
    border: 2px solid black;
}

select:hover,
button:hover { 
    cursor: pointer;
}

ul button {
    align-self: end;
    border: none;
    outline: none;
    appearance: none;
    padding: .5rem 5rem;
    border: 2px solid black;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;

}

.card {
    text-align: center;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid black;
}

h3 {
    overflow-wrap: anywhere;
}

.card p {
    overflow-wrap: anywhere;
}

.card p:last-child {
    align-self: end;
    display: grid;
    gap: 1rem;
}

.pages {
    font-size: 1.2rem;
}

.card button {
    border: none;
    outline: none;
    appearance: none;
    width: 100%;
    padding: 1rem 0rem;
    border: 2px solid black;
}

footer{
    text-align: center;
    padding: 1rem;
}

@media only screen and (max-width:720px) {
    ul {
        flex-direction: column;
    }

    li {
        width: 100%;
    }

    li:nth-child(3),
    ul button {
        width: 100%;
    }
}