*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: Arial, sans-serif, system-ui, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --color-one: #fafafa;
    --color-two: #26252d;
    color: var(--color-one);
    background-color: var(--color-one);
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    max-width: 2560px;
    min-height: 100vh;
    min-height: 100svh;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-two);
}

img {
    height: 4rem;
}

main {
    flex: 1;
    width: min(100%, 1080px);
    padding: 0rem 2rem 2rem;
    margin: auto;
}

main > button {
    border: none;
    outline: none;
    appearance: none;
    display: block;
    color: var(--color-two);
    font-size: 1.5rem;
    font-weight: 600;
    padding: .5rem 1rem;
    margin: 2rem auto;
    border: 2px solid var(--color-one);
    outline: 2px solid var(--color-two);
    background-color: var(--color-one);
}

main > button:hover {
    color: var(--color-one);
    background-color: var(--color-two);
}

h2 {
    color: var(--color-two);
    border-bottom: 2px solid var(--color-two);
}

form {
    display: none;
    position: fixed;
    left: calc(50% - 125px);
    z-index: 1;
    width: 250px;
    padding: 2rem;
    border: 1px solid var(--color-one);
    outline: 2px solid var(--color-two);
    background-color: var(--color-two);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    text-decoration: none;
    width: 100%;
}

li:nth-child(4) {
    width: fit-content;
}

label {
    font-size: 1.3rem;
    display: block;
    margin-bottom: .25rem;
}

input {
    border: none;
    outline: none;
    appearance: none;
    display: block;
    color: var(--color-two);
    width: 100%;
    padding: .5rem;
    border: 2px solid var(--color-two);
    outline: 1px solid var(--color-one);
    background-color: var(--color-one);
}

input:focus, 
select:focus {
    border: 3px solid var(--color-two);
}

select {
    border: none;
    outline: none;
    display: block;
    color: var(--color-two);
    margin-bottom: 1rem;
    border: 2px solid var(--color-two);
    outline: 1px solid var(--color-one);
    background-color: var(--color-one);
}

select:hover,
button:hover { 
    cursor: pointer;
}

ul button,
.book-card button {
    border: none;
    outline: none;
    appearance: none;
    color: var(--color-two);
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    padding: 1rem 0rem;
    border: 2px solid var(--color-two);
    outline: 1px solid var(--color-one);
}

ul button:hover {
    border: 3px solid var(--color-two);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-two);
    opacity: 0.9;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.book-card {
    display: grid;
    gap: 1rem;
    min-height: 250px;
    padding: 1rem;
    border: 2px solid var(--color-one);
    outline: 2px solid var(--color-two);
    background-color: var(--color-two);
}

h3 {
    overflow-wrap: anywhere;
}

.book-card p {
    overflow-wrap: anywhere;
}

.pages {
    font-size: 1.2rem;
}

.book-card p:last-child {
    align-self: end;
    display: grid;
    gap: 1rem;
}

footer{
    color: var(--color-two);
    text-align: center;
    padding: 1rem;
}